<table>
    <thead>
    <tr>
        <th>German</th>
        <th>Reading</th>
        <th>Kanji</th>
    </tr>
    </thead>
    <tbody>
    {{#each vocab}}
    <tr>
        <td>{{this.german}}</td>
        <td>{{this.reading}}</td>
        <td>{{this.kanji}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
